body {
    background-color: #f2f2f2;
    color: #212121;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "Roboto", sans-serif;
}

.search-wrapper {
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
    margin-top: 1em;
}

#term {
    background: white;
    width: 100%;
    padding: 1em;
    max-width: 600px;
    box-shadow: 0px 5px 10px 0px rgba(33,33,33,0.3);
    border: 0px transparent;
    box-sizing: border-box;
    border-radius: 4px;
}

#render-area {
    margin: 0 auto;
    margin-top: 1em;
    width: 100%;
    max-width: 600px;
}

.result {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0px 2px 3px 0px rgba(33,33,33,0.3);
    margin-bottom: 1px;
}

#render-area a {
    color: #212121;
    text-decoration: none;
}

.result div {
    width: 45%;
    padding: 1em;
}

#content {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

#content .logo {
    width: 90%;
    
}

@media (max-width: 600px) {
    .search-wrapper,
    #render-area {
        width: 90%;
    }
}